<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- LiDARデータを画像データに変換するノード -->
  <!-- <node pkg="pd3_demo" type="laser_to_image.py" name="laser_to_image" output="screen"> -->
  <!--   &#60;&#33;&#45;&#45; 1[pixel] = disc_size[m]. 画像サイズに依存するので変更禁止&#45;&#45;&#62; -->
  <!--   <param name="disc_size" type="double" value="0.01" /> -->
  <!--   &#60;&#33;&#45;&#45; 画像にプロットするLiDARデータの最大距離&#45;&#45;&#62; -->
  <!--   <param name="max_range" type="double" value="2.5" /> -->
  <!--   &#60;&#33;&#45;&#45; 生成された画像を表示するか否かの変数&#45;&#45;&#62; -->
  <!--   <param name="img_show"  type="bool"   value="false" /> -->
  <!-- </node> -->

  <!-- 人追従機能を実現するメインノード -->
  <node pkg="pd3_demo" type="follower_control.py" name="follower_control" output="screen">

    <!-- LiDarと人との目標距離[m] -->
    <param name="target_dist" type="double" value="0.5" />
    <!-- LiDarと人との安全距離[m]. この距離になったら緊急停止する -->
    <param name="safety_dist" type="double" value="0.30" />

    <!-- 人を検出する範囲[px]の設定に使用-->
    <param name="range_xmin"  type="int" value="130" />
    <param name="range_xmax"  type="int" value="370" />
    <param name="range_ymin"  type="int" value="80" />
    <param name="range_ymax"  type="int" value="250" />

    <!-- PublishするTwist型のトピック名 -->
    <param name="pub_twist_name"  type="str" value="/cmd_vel_mux/input/teleop" />

    <!-- 並進PID制御の各ゲイン -->
    <param name="lKp"         type="double" value="0.0039" />
    <param name="lKi"         type="double" value="0.0008" />
    <param name="lKd"         type="double" value="0.0009" />
    <!-- 旋回PID制御の各ゲイン -->
    <param name="aKp"         type="double" value="0.0023" />
    <param name="aKi"         type="double" value="0.0009" />
    <param name="aKd"         type="double" value="0.0004" />

    <!-- Twistの最大,最小速度 -->
    <param name="max_linear"  type="double" value="0.23" />
    <param name="min_linear"  type="double" value="0.00" />
    <param name="max_angular" type="double" value="0.35" />
    <param name="min_angular" type="double" value="-0.35" />

  </node>

  <!-- 人の重心座標や目標座標、ロボット座標を描画するノード -->
  <!-- <node pkg="pd3_demo" type="follower_imgshow.py" name="follower_imgshow" output="screen"/> -->

  <!-- 緊急停止処理を行うノード -->
  <!-- <node pkg="pd3_demo" type="follower_emgstop.py" name="follower_emgstop" output="screen"/> -->

</launch>
