<?xml version="1.0" encoding="utf-8"?>
<launch>

  <node pkg="pd3_demo" type="follower_core.py" name="follower_core" output="screen">
    <!-- LiDarと人との目標距離[m] -->
    <param name="target_dist" type="double" value="0.5" />
    <!-- 人を検出する範囲[px] -->
    <param name="range_xmin"  type="int" value="200" />
    <param name="range_xmax"  type="int" value="300" />
    <param name="range_ymin"  type="int" value="100" />
    <param name="range_ymax"  type="int" value="250" />
    <!-- PID制御の各ゲイン -->
    <param name="Kp" type="int" value="1000" />
  </node>

  <node pkg="pd3_demo" type="follower_imgshow.py" name="follower_imgshow" output="screen"/>

</launch>
